{% load static %}
<!DOCTYPE html>
<html lang="es">
<head>
    <meta charset="UTF-8">
    <title>Crear Producto</title>
    <link rel="stylesheet" href="{% static 'css/style2.css' %}">
</head>
<body>
    {% include 'menu.html' %}
    <div class="form-container">
        <h1>Crear Producto</h1>
        <form method="post">
            {% csrf_token %}
            <label for="txtNombre_Cliente">Nombre del Cliente:</label>
            <input type="text" id="txtNombre_Cliente" name="txtNombre_Cliente" required pattern="[A-Za-z\s]+">

            <label for="txtFecha">Fecha:</label>
            <input type="datetime-local" id="txtFecha" name="txtFecha" required>

            <label for="txtNum_Inv">Numero de Invitados:</label>
            <input type="number" id="txtNum_Inv" name="txtNum_Inv" required pattern="[0-9]+ o \d+">

            <label for="txtTipo_Evento">Tipo de Evento:</label>
            <input type="text" id="txtTipo_Evento" name="txtTipo_Evento" required pattern="[A-Za-z\s]+">

            <label for="txtTelefono_Contacto">Telefono:</label>
            <input type="text" id="txtTelefono_Contacto" name="txtTelefono_Contacto" required pattern="^\d{10}$">

            <label for="ddlestatus">Estatus:</label>
            <select name="ddlestatus" required>
                <option value="">Selecciona una categoría</option>
                <option value="pendiente">pendiente</option>
                <option value="confirmada">lista</option>
            </select><br>

            <!-- Botón para regresar al listado -->
            <button type="submit">Guardar</button>
            <button><a href="{% url 'listar' %}" class="btn">Volver</a></button>
        </form>
    </div>
</body>
</html>